* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5vw;
}

body{
	top:-5vh;
	background-color: #8fccbf;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.navbar{
	background-color: #ffffff;
	display: block;
	width: 200vw;
	height: 11vw;
	text-align: center;
	box-shadow: -3vw 0.01vw 2vw 0.01vw #000000;
	position: absolute;
	margin-bottom: 1vw;
}

.navbar-text {
	position: absolute;
	color: black;
	background: #ffffff;
	border-color: #d4cece;
	font-size: 2vw;
	left: 45vw;
}

#navbar-title {
	width: 45%;
	color: #000000;
	white-space: nowrap;
	font-size: 2.5vw;
}

.navbar span, .navbar .navbar-brand, #operators_queue .container:not(:first-child) .row p{
	color: rgb(0, 0, 0);
}

#logo {
	height: 5vw;
	position: relative;
	left: 2vw;
	top: 15%;
}

#page-content {
	position: absolute;
	top: 12.5vw;
	left: 2.5vw;
	width: 94vw;
}

#login_form {
	background-color: #ffffff;
	border-color: #d4cece;
	border-radius: 1vw;
	width: 33%
}

#customers_queue{
	background-color: #30e2a7;
	text-align: center;
	padding-top: 40px;
}

#customers{
	margin-top: 30px;
}

#operators_queue, #customers_queue{
	height: 100vh;
}

#operators_queue div{
	margin: 0 auto;
}

#operators_queue .container:nth-child(1){
	margin-top: 40px;
}

#operators_queue .container .row{
	width: 50%;
}

#operators_queue .container:not(:first-child){
	margin-top: 10px;
}

#operators_queue .container:not(:first-child) .row{
	padding: 20px 10px;
	background-color: #87B6FF;
	border-radius: 25px;
}

#operators_queue .container .row .col:nth-child(1) p{
	text-align: left;
}

#operators_queue .container .row .col:nth-child(2) p{
	text-align: right;
}

@media screen and (max-width: 767px){
	#operators_queue .container:first-child p{
		font-size: 15px;
	}

	#operators_queue .container .row{
		width: 80%;
	}
}

@media screen and (max-height: 600px){
	#customers_queue{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#operators_queue{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}


