@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5vw;
}

body{
	top:-5vh;
	background-color: #8fccbf;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-y:auto;
}

.navbar{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 25%;
	box-shadow: -3vw 0.01vw 2vw 0.01vw #000000;
	position: absolute;
	margin-bottom: 1vw;
}

.navbar-logo {
	width: 11vw;
	margin-left: 5%;
	display: flex;
	justify-content: center;
}

.navbar-title {
	display: flex;
	margin: 0 auto;
	margin-right: 35%;
	margin-bottom: 10vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#title {
	font-size: 5.5vw;
	margin-bottom: 0.5vw;
}

#time {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 3vw;
}

.navbar span, .navbar .navbar-brand, #operators_queue .container:not(:first-child) .row p{
	color: rgb(0, 0, 0);
}

#page-content {
	position:fixed;
	top: 30%;
	left: 2.5vw;
	width: 94vw;
}

#login_form {
    background-color: #ffffff;
    border-color: #d4cece;
    border-radius: 1vw;
    width: 33%;
    margin: 40px auto;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-2 {
	width: 99%;
	margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 20px; /* Add margin between form elements */
}

#customers_queue{
	background-color: #30e2a7;
	text-align: center;
	padding-top: 40px;
}

#customers{
	margin-top: 30px;
}

#operators_queue, #customers_queue{
	height: 100vh;
}

#operators_queue div{
	margin: 0 auto;
}

#operators_queue .container:nth-child(1){
	margin-top: 40px;
}

#operators_queue .container .row{
	width: 50%;
}

#operators_queue .container:not(:first-child){
	margin-top: 10px;
}

#operators_queue .container:not(:first-child) .row{
	padding: 20px 10px;
	background-color: #87B6FF;
	border-radius: 25px;
}

#operators_queue .container .row .col:nth-child(1) p{
	text-align: left;
}

#operators_queue .container .row .col:nth-child(2) p{
	text-align: right;
}

:root {
	--primary: hsl(176, 100%, 78%);
	--light: hsl(175, 100%, 90%);
	--primary-hover: hsl(176, 100%, 35%);
  }
  
  button {
	border: 0;
	border-radius: 100vw;
	position: relative;
	font-weight: 500;
	cursor: pointer;
	box-shadow: 1px 2px 5px hsl(0, 0%, 0%, 0.25);
	padding: 0.5em;
	text-align: center;
	
	
	background-image: 
	  linear-gradient(hsl(0 0% 100% / 0.85), transparent 10px),
	  linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
	  radial-gradient(
		circle at 10px 5px,
		hsl(0 0% 100% / 0.25) 5px,
		transparent 5px
	  ),
	  radial-gradient(
		circle at 0px 5px,
		hsl(0 0% 100% / 0.25) 5px,
		transparent 5px
	  ),
	  linear-gradient(var(--primary), var(--light));
  }
  
  button::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: -1px;
	margin-inline: auto;
	background: linear-gradient(hsl(258, 74%, 30%), hsl(0, 0%, 38%));
	border-radius: 20vw;
  }
  
  button:hover {
	background-image: 
	  linear-gradient(hsl(0 0% 100% / 0.85), transparent 10px),
	  linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
	  radial-gradient(
		circle at 10px 5px,
		hsl(0 0% 100% / 0.25) 5px,
		transparent 5px
	  ),
	  radial-gradient(
		circle at 0px 5px,
		hsl(0 0% 100% / 0.25) 5px,
		transparent 5px
	  ),
	  linear-gradient(var(--primary-hover), var(--light));
  }

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1%;
	margin-top: 2vh;
}

.btn-index {
	font-size: 3.4vh;
	width: 20vw;
	text-align: center;
}

table {
border-collapse:separate;
border-spacing: 0;
width: 100%;
border: 1px solid #d2d2d2;
border-radius: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
	font-size: 5vh;
padding: 12px 20px;
text-align: left;
border-bottom: 1px solid #d2d2d2;
}
th {
background-color: #f7f7f7;
font-weight: bold;
color: #333;
}
td {
background-color: #fff;
border: hidden;
}


#queue, #queue-list {
	font-size: 4vh;
}

.scrollable-content {
	max-height: 70vh;
	overflow-y: auto;
	padding: 20px;
}

@media only screen and (max-width: 1200px){
	  
	button {
	width: 50vw;
	border: 0;
	border-radius: 100vw;
	position: relative;
	font-weight: 500;
	padding: 0.5em;
	text-align: center;
	margin: 1vh;
	background-color: #00b4a7;
	}

	.button-container {
		display: grid;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1%;
		margin-top: 2vh;
	}

	.active-text {
		font-size: 4vh;
	}

	#login_form {
		background-color: #ffffff;
		border-color: #d4cece;
		border-radius: 1vw;
		width: 50%;
		margin-top: 1vh;
		margin-bottom: 2vh;
		padding: 20px;
	}

	label {
		font-size: 3vh;
	}

	.mb-2 {
		font-size: 2vh;
		width: 99%;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}

	#manager-btn {
		font-size: 2vh;
	}
}