
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КМБ4</title>
    <link rel="icon" type="image/x-icon" href="static/Icon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- кастомные стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
      <img align="left" id="logo" src="static/Logo.svg" draggable="false">

		  <div class="container-fluid">
		    <p id="navbar-title">Система управления очередью</p>
			  <span class="navbar-text">
			    Время 
			  </span>
		  </div>
    </nav>
    <div id="page-content">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>