{% extends 'base.html' %}

{% block content %}

<div class="button-container">
    <a href="/monitor">
        <button class="btn"> 
            <span class="active-text text-node">Вывод на экран</span>
            <!-- <span class="inactive-text text-node">Вывод на экран</span> -->
        </button>
    </a>
    
    <a href="/admin">
        <button class="btn"> 
            <span class="active-text text-node">Админ панель</span>
            <!-- <span class="inactive-text text-node"> Админ панель</span> -->
        </button>
    </a>
    
    <a href="/maneger">
        <button class="btn"> 
            <span class="active-text text-node">Менеджер</span>
            <!-- <span class="inactive-text text-node"> Менеджер</span> -->
        </button>
    </a>
    
    <a href="/login">
        <button class="btn"> 
            <span class="active-text text-node">Вход для операторов</span>
            <!-- <span class="inactive-text text-node"> Вход для операторов</span> -->
        </button>
    </a>

    <script type="module" src="{{url_for('static', filename='buttons.js')}}"></script>
</div>

{% endblock %}