
{% extends 'base.html' %}

{% block content %}
    
	<form action="/login" method="post" id="login_form">
    <center>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Логин" type="text" id="user">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Пароль" type="password" id="password">
        </div>
            <button class="btn btn-primary" type="submit" id="button">Войти</button>
        </center>
        {{error}}
    </form>
    
{% endblock %}