{% extends 'base.html' %}

{% block content %}
<script type="module" src="{{url_for('static', filename='manager.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<div>
    <button id="btn1">
       Профориентационная консультация 
    </button>
    <button>
       Забрать документы 
     </button>
     <button>
        Подать документы 
     </button>
     <button>
        Донести документы 
     </button>
 </div>
 {% endblock %}