{% extends 'base.html' %}

{% block content %}
<p id="queue">Ожидайте:</p>
<select id="user-select">
  <option value="">Выберите пользователя</option>
  <!-- ... (не изменяем) ... -->
</select>
<p id="queue">Я работаю с: <span id="current-task"></span></p>

<select id="cabinet-select">
  <option value="">Выберите кабинет</option>
  <option value="1">Кабинет 1</option>
  <option value="2">Кабинет 2</option>
  <option value="3">Кабинет 3</option>
  <!-- ... добавляем другие кабинеты ... -->
</select>

<button id="assign-cabinet">Назначить кабинет</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="module" src="{{url_for('static', filename='operator.js')}}"></script>
{% endblock %}